<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rokolabs.com.peoplefirst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/group_366"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".report.ui.place.search.AddressLookupActivity"></activity>
        <activity android:name=".report.ui.users.activity.UsersActivity" />
        <activity
            android:name=".report.EditReportActivity"
            android:label="@string/title_activity_edit_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/group_366" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="rokolabs.com.peoplefirst" /> <!-- <activity android:name=".HappenedBeforeActivity" /> -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="peoplefirstapp.page.link"
                    android:scheme="http" />
                <data
                    android:host="peoplefirstapp.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.password.reset.update.SetNewPasswordActivity" />
        <activity android:name=".auth.password.reset.send.request.ResetPasswordActivity" />
        <activity android:name=".auth.registration.CreateAccountRetailActivity" />
        <activity android:name=".auth.login.LoginActivity" />
        <activity android:name=".report.ui.notification.result.ResultNotificationActivity" />
        <activity android:name=".resolution.confirm.ConfirmResolutionActivity" />
        <activity android:name=".resolution.result.ResolutionStatusActivity" />
        <activity android:name=".report.ui.summary.ReportSummaryActivity" />
        <activity android:name=".report.involved.victim.CollegueBelievesActivity" />
        <activity android:name=".report.involved.named.NamedActivity" />
        <activity android:name=".report.involved.rights.AfterYouViewActivity" />
        <activity android:name=".report.involved.verify.victim.VerifyVictimActivity" />
        <activity android:name=".report.involved.verify.witness.VerifyWitnessActivity" />
        <activity android:name=".report.involved.verify.agressor.VerifyAggressorActivity" />
        <activity android:name=".report.ui.summary.confirm.ConfirmActivity" />

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service
            android:name=".services.FileUploadService"
            android:exported="false" />
        <service android:name=".messaging.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>